body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: rgb(170, 172, 172);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color: black;
}

a{
    color: rgb(214, 221, 221);
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}


.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

/* Navbar */
.top-nav{
    background-color: rgb(247, 245, 245);
    padding-top: 2px;
    padding-bottom: 5px;
}

.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 40px;
    color: rgb(178, 178, 185);
}

.top-nav p:hover{
    color: rgb(223,67,53);
}

.social-links a {
    width: 34px;
    height: 34px;
    background-color: rgb(247, 245, 245);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.social-links a:hover{
    background-color: rgb(209, 209, 209);
}

.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    height: 100px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: rgb(223,67,53);
}

.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.navbar-brand span{
    color: orange;
}

/* Button */
.btn{
    margin: 40px;
    padding: 5px 10px;
    color: rgb(155, 155, 155);
    background-color: rgb(237, 237, 235);
}
.btn-brand{
    background-color: red;
}
.footerbtn{
    color: rgb(155, 155, 155);
}
.footerbtn:hover{
    color: rgb(223,67,53);
}
.btn:hover{
    background-color: rgb(223,67,53);
    color: white;
}

/* Slide */
.box-icon{
    text-align: center;
    overflow: hidden;
    height: 100%;
}

/* After slide */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}
.button2{
    width: 260px;
    height: 40px;
    color: rgb(223, 67, 53);
    background-color: white;
}
.button2:hover{
    background-color: rgb(223, 67, 53);
    color: white;
}
.button {
    margin: 0 5px; 
    color: white;
    background-color: black;
}
.button:hover{
    background-color: rgb(223, 67, 53);
}

.btncolor{
    color: white;
    background-color: black;
}

.btncolor:hover{
    background-color: rgb(223, 67, 53);
}

.textA {
    color: rgb(223, 67, 53);
}

.custom-line {
    position: relative;
    border-top: 3px solid grey;
    width: 290px;
    margin: 20px auto;
}

.lor{
    color: black;
    font-weight: bold;
    
}

.circleicon{
    font-size: 20px;
    margin: 40px;
    padding: 40px;
    color: rgb(223, 67, 53);
    background-color: rgb(237, 235, 235);
    border-radius: 50%;
}
.circleicon2{
    font-size: 15px;
    margin: 2px;
    padding: 10px;
    color: rgb(237, 235, 235);
    background-color: rgb(223, 67, 53);
}

.circleicon:hover{
    color: white;
    background-color: rgb(223, 67, 53);
}

.circleicon3{
    border-radius: 50%;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgb(163, 159, 159);
    color: rgb(223, 67, 53);
}
.circleicon3:hover{
    color: white;
    border: 1px solid white;
    background-color: rgb(223, 67, 53);
}


/* Project cards */
.projectcard{
    background-color: rgb(245,244,244);
}

/* AboutUS */
#footer{
    background-color: black;
    padding: 70px 0 40px;
}

.footer-widget{
    margin-bottom: 30px;
}

.widget-title{
    position: relative;
}

.widget-title h6{
    font-size: 15px;
    border-bottom: 1px solid #282828;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.widget-about{
    overflow: hidden;
    height: 100%;
}

.widget-about p{
    font-size: 13px;
}

.social-ul{
    overflow: hidden;
    height: 100%;
}

.social-ul li{
    float: left;
    list-style-type: none;
}

.widget-about .social.ul{
    float: left;
}

#redline{
    border-bottom: 5px solid rgb(192, 35, 35);
    padding-bottom: 8px;
}
#blackline{
    border-bottom: 5px solid black;
    padding-bottom: 8px;
}
.panel-group {
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 10px; 
    margin: 20px;
}
.bottom-social{
    list-style: none;
}

/* Ori-Great */
.Ori-Great {
    background-color: #171717;
}

.line1 {
    background-color: white;
    height: 2px;
}

.lor {
    color: #acacac;
}



/* News */
.fw-bold {
    font-weight: bold;
}

.main-color {
    color: #ffffff; /* Assuming white, update as needed */
}

.p-text-color {
    color: #777777;
}

.readmore {
    color: #000000; /* Assuming black, update as needed */
    text-decoration: none;
    font-weight: bold;
}


/* About US */
.p-text-color {
    color: #f5f4f4;
}

.border-bottom {
    border-bottom: 4px solid rgb(245, 244, 244);
    padding-bottom: 12px;
}

.bottom-social li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.location ul {
    list-style: none;
    padding: 0;
}

.location li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.location i {
    margin-right: 10px;
}



/* Styles for the Footer */
.last-list ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.last-list ul li {
    margin-right: 15px;
    cursor: pointer;
}

/* Styles for the Copyright section */
/* .container-fluid.d-flex.justify-content-center.p-4 {
    background-color: black;
    height: 68px;
} */

.lastnav{
    background-color: rgb(33, 33, 33);
}